/* CSS declarations go here */

img#logo {
	height: 70px;
	width: 75px;
	max-width: 100%;
}

img#image {
	height: 40px;
	width: 40px;
	display: flex;
}

.CommentText {
	margin-left: 15%;
}

#CommentBox, #EditCommentBox {
	resize: none;
	max-width: 100%;
}

.post-detail h3 {
  margin-bottom: 10px;
}
.post-detail .image {
  border: 1px solid #d9d9d9;
  background-size: cover;
  background-position: center;
  min-height: 350px;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.home-post {
  margin-bottom: 20px;
}
.home-post h3 {
  margin-bottom: 10px;
}
.home-post .image {
  border: 1px solid #d9d9d9;
  background-size: cover;
  background-position: center;
  min-height: 350px;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.dropdown-menu .divider {
	height: 1px;
	overflow: hidden;
	margin: 0px;
	background-color: #e5e5e5;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: black;
	background-color: white;
}

.orion-bootstrap-admin .sidebar-nav li a:active, .orion-bootstrap-admin .sidebar-nav li a:focus, .orion-bootstrap-admin .sidebar-nav li.active a {
	text-decoration: none;
	color: #9d9d9d;
	background: rgba(255, 255, 255, 0.2);
}

.orion-bootstrap-admin .sidebar-nav li a:hover, .orion-bootstrap-admin .sidebar-nav li a:focus, .orion-bootstrap-admin .sidebar-nav li.hover a {
	text-decoration: none;
	color: #000000;
	background: rgba(255, 255, 255, 0.2);
}
.orion-bootstrap-admin .sidebar-nav > .sidebar-brand a:hover {
	color: #666666;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #9d9d9d;
}

div.dataTables_paginate ul.pagination {
	white-space: normal;
}

body {
	font-family: sans-serif;
	background-color: #E1EFF7;
	background-image: linear-gradient(to bottom, #F6F7E1, #71CAFA 100%);
	background-attachment: fixed;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	min-height: 100%;
	background: white;
	padding-left: 0px;
	padding-right: 0px;
  margin-right: auto;
  margin-left: auto;
}

header {
	background: #d2edf4;
	background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
	padding: 20px 15px 15px 15px;
	position: relative;
}

footer {
	background: #d2edf4;
	background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
	padding: 20px 15px 15px 15px;
	position: relative;
}

#login-buttons {
	display: block;
}

#login-buttons a, .accounts-dialog a {
	cursor: pointer;
	text-decoration: none;
	color: red;
}

h1 {
	font-size: 1.5em;
	margin: 0;
	margin-bottom: 10px;
	display: inline-block;
	margin-right: 1em;
}

form {
	margin-top: 10px;
	margin-bottom: -10px;
	position: relative;
}

.new-task input {
	box-sizing: border-box;
	padding: 10px 0;
	background: transparent;
	border: none;
	width: 100%;
	padding-right: 80px;
	font-size: 1em;
}

.new-task input:focus{
	outline: 0;
}

ul {
	margin: 0;
	padding: 0;
	background: white;
}

.delete {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 1em;
	border: none;
	position: relative;
}

li {
	position: relative;
	list-style: none;
	padding: 15px;
	border-bottom: #eee solid 1px;
}

li .text {
	margin-left: 10px;
}

li.checked {
	color: #EA4335;
	background-color: #CCE0CC;
	border-color: #E1F7E7;
}

li.checked .text {
	text-decoration: line-through;
}

li.private {
	background: #eee;
	border-color: #ddd;
}

header .hide-completed {
	float: right;
}

.toggle-private {
	margin-left: 5px;
}

@media (max-width: 600px) {
	li {
		padding: 12px 15px;
	}

	.new-task input {
		padding-bottom: 5px;
	}
}

button#actionDropdown {
	border: medium none;
}

button#actionDropdown:hover {
	background: #FFFFFF;
}

/*.dropdown.pull-right {
	display: none;
}*/

.grey-text.text-darken-4:hover{
	background: white;
}